
.div1{
    display: flex;
    justify-content: space-around;
}

.text{
    height: 298px;
    width: 756px;
    background-color: #F8F8F8;
    font-weight: 700;
    margin-left: 144px;
}


.div2{
    display: flex;
    flex-direction: column;
}
input{
    padding-left: 19px;
    background-color: #F8F8F8;
}
.texti{
    height: 59px;
    width: 370px;
    margin-bottom: 20px;
    margin-left: 20px;
    display: block;

}
.middle{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: 50px;
}
.container1{
    background: white;
    display: inline-block;
    margin-left: 300px;
    margin-bottom: 50px;
    margin-top: 50px;
    
    
}
.container1 img{
    width: 68px;
    height: 68px;
}


.container {
    max-width: 1146px;
    width: 100%;
    margin: 0 auto;
  }
  h5 {
    font-size: 17px;
    font-weight: bold;
    color: #5863e3;
    line-height: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-top: 50px;
  }

  h1 {
    font-size: 49px;
    font-weight: 400;
    line-height: 56px;
    text-transform: capitalize;
    width: 600px;
    margin-bottom: 50px;
  } 
  .images {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer {
    width: 100%;
    background-color: black;
    padding: 65px 0;
  }

.containerflex{
    display: flex;
    justify-content: space-around;
}

  .left_side h2 {
    font-size: 26px;
    font-weight: bold;
    color: white;
    margin-bottom: 23px;
  }
  
  .left_side p {
    color: #99999a;
    font-weight: bold;
    font-size: 17px;
    max-width: 295px;
    margin-bottom: 27px;
  }    
  .logos{
    display: flex;
    align-items: center;
    gap: 7px;
  }
  .right_side {
    display: flex;
    align-items: center;
    gap: 125px;
  }
  
  .right_side .navs h2 {
    font-size: 21px;
    color: white;
    margin-bottom: 32px;
  }
  
  .right_side .navs .nav p {
    color: #5863e3;
    font-size: 17px;
    margin-bottom: 10px;
  }